extends includes/template

block title
	title mainpage


block prepend css


block content
	.container.var2
		include includes/_header_var2
		// phone-menu
		nav.navbar.navbar-default.navbar-fixed-top.visible-xs
			.container
				.navbar-header
					button(type="button" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false").navbar-toggle.collapsed
						img(src="./img/icons/ic-menu.svg", onerror="this.onerror=null; this.src='./img/icons/ic-menu.png'").menu
						img(src="./img/icons/ic-close-black-24-px.svg", onerror="this.onerror=null; this.src='./img/icons/ic-close-black-24-px.png'").closeMenu
						span.sr-only Toggle navigation

					a(href="./").logo
						img(src="./img/icons/rs-logo-white.svg", onerror="this.onerror=null; this.src='./img/icons/rs-logo-white.png'")

					a(href="javascript:;").navbar-brand Россотрудничество

					a(href="javascript:;").search
						img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

					.searchField
						.input-group
							input(type="text").form-control
							span.input-group-btn
								button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")

				.collapse.navbar-collapse#navbar-collapsed
					ul.nav.navbar-nav
						li
							a(href="about.html") О представительстве
							ul
								li
									a(href="about_programs.html") Государственные программы
									ul
										li: a(href="about_programs_strategy.html") Стратегические коммуникации российского содействия международному развитию
										li: a(href="about_programs_sng.html") Межгосударственная программа инновационного сотрудничества государств-участников СНГ
										li: a(href="about_programs_newGen.html") «Новое поколение»: ознакомительные поездки в Россию для молодых представителей политических, общественных, научных и деловых кругов иностранных государств
										li: a(href="about_programs_settlers.html") Содействие добровольному переселению в Российскую Федерацию соотечественников, проживающих за рубежом
										li: a(href="about_programs_extpol.html") Внешнеполитическая деятельность
										li: a(href="about_programs_rulang.html") Русский язык

								li: a(href="about_structure.html") Структура
								li: a(href="about_manage.html") Руководство
								li: a(href="javascript:;") История
								li: a(href="javascript:;") Партнеры
						li
							a(href="activity.html") Деятельность
							ul
								li: a(href="activity_worldSupport.html") Содействие международному развитию
								li: a(href="activity_diplomacy.html") Общественная дипломатия
								li
									a(href="activity_russianCulture.html") Продвижение русской культуры
									ul
										li: a(href="activity_russianCulture_.html") 25 лет Содружеству Независимых Государств
										li: a(href="activity_russianCulture_.html") 25 лет Содружеству Независимых Государств
										li: a(href="activity_russianCulture_ruCinema.html") Год российского кино
										li: a(href="activity_russianCulture_.html") 90 лет народной дипломатии
										li: a(href="activity_russianCulture_.html") 50-летие первого выхода человека в открытый космос
										li: a(href="activity_russianCulture_.html") Посольство мастерства
										li: a(href="activity_russianCulture_.html") Год литературы
										li: a(href="activity_russianCulture_.html") Год России в Монако
										li: a(href="activity_russianCulture_.html") 70-летие Победы в Великой Отечественной войне
										li: a(href="activity_russianCulture_.html") 175-летие со дня рождения П. И. Чайковского
										li: a(href="activity_russianCulture_.html") 1000-летие преставления святого равноапостольного князя Владимира — Крестителя Руси
										li: a(href="activity_russianCulture_.html") День семьи, любви и верности
										li: a(href="activity_russianCulture_.html") 700-летие со дня рождения преподобного Сергия Радонежского
										li: a(href="activity_russianCulture_.html") 200-летие со дня рождения М. Ю. Лермонтова
										li: a(href="activity_russianCulture_.html") Дружба Народов
										li: a(href="activity_russianCulture_.html") 100-летие начала Первой мировой войны
										li: a(href="activity_russianCulture_.html") Фотовыставка «Гран-при по-русски»
										li: a(href="activity_russianCulture_.html") Год России в Нидерландах и Нидерландов в России
										li: a(href="activity_russianCulture_.html") Год Германии в России и России в Германии
										li: a(href="activity_russianCulture_.html") Год Испании в России и России в Испании
										li: a(href="activity_russianCulture_.html") Год России в Италии
										li: a(href="activity_russianCulture_.html") Год китайского языка в России
										li: a(href="activity_russianCulture_.html") Год России во Франции и Год Франции в России
										li: a(href="activity_russianCulture_.html") Год Болгарии в России

								li: a(href="activity_comrades.html") Поддержка соотечественников
								li: a(href="activity_rulangSupport.html") Укрепление позиций русского языка
								li: a(href="activity_education.html") Образование и наука
								li: a(href="activity_cemetery.html") Сохранение историко-мемориальных памятников и мест погребения
								li: a(href="activity_relations.html") Международные связи субъектов РФ
								li: a(href="activity_sng.html") Интеграция стран СНГ
						li
							a(href="anons.html") Анонсы
							ul
								li: a(href="anons_detail.html") Кино
								li: a(href="anons_detail.html") Выставки
								li: a(href="anons_detail.html") Концерты
								li: a(href="anons_detail.html") Спектакли
								li: a(href="anons_detail.html") Конференции
								li: a(href="anons_detail.html") Семинары
								li: a(href="anons_detail.html") Конкурсы
								li: a(href="anons_detail.html") Творческие встречи
								li: a(href="anons_detail.html") Конференции
						li
							a(href="news.html") Новости
							ul
								li: a(href="news_russia.html") Россия
								li: a(href="news_sng.html") СНГ
								li: a(href="news_world.html") Мир
								li: a(href="news_edu.html") Образование
								li: a(href="news_tech.html") Наука и техника
								li: a(href="news_culture.html") Культура
								li: a(href="news_social.html") Общество
								li: a(href="news_rulang.html") Русский язык
								li: a(href="news_diplomacy.html") Народная дипломатия
								li: a(href="news_years.html") Перекрестные годы
						li
							a(href="contacts.html") Контакты
							ul
								li: a(href="contacts_center.html") Центральный аппарат
								li: a(href="contacts_inworld.html") Представительства в мире
								li: a(href="contacts_callback.html") Написать обращение

					p.represent: a(href="represent.html") Сайты представительств

					.lang
						p Язык
						a.active: img(src="./img/icons/flag/flag_ru.png").flag
						a: img(src="./img/icons/flag/flag_en.png").flag
						a: img(src="./img/icons/flag/flag_de.png").flag
						a: img(src="./img/icons/flag/flag_fr.png").flag
						a: img(src="./img/icons/flag/flag_es.png").flag

		nav.navbar.navbar-desktop.hidden-xs
			.navbar-header
				ul.nav.navbar-nav
					li
						a(href="about.html") О представительстве
					li
						a(href="activity.html") Деятельность
					li
						a(href="anons.html") Анонсы
					li
						a(href="news.html") Новости
					li
						a(href="contacts.html") Контакты

			a(href="javascript:;").search
				img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

			.searchField
				.input-group
					input(type="text").form-control
					span.input-group-btn
						button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")



		.row
			section.anons.col-sm-6.col-xs-12
				h1 Анонсы

				.row
					.col-xs-12
						article
							.articleImg
								a(href="anonsDetail.html")
									img(src="./img/announcements/img_01.jpg", alt="")
							.articleText
								h2 Таджикистан, РЦНК в Душанбе
								time 28 января, 18:00
								h3 Писатель горечи и гнева
								h4 К 190-летию М. Е. Салтыкова-Щедрина

					.col-xs-12
						article
							.articleImg
								a(href="anonsDetail.html")
									img(src="./img/announcements/img_02.jpg", alt="")
							.articleText
								h2 Дания, РЦНК в Копенгагене #[br] На русском языке
								time 30 января, 12:00
								h3 «Азбука хорошего поведения». Спектакль Ульяновского театра им. И. А. Гончарова

					.col-xs-12
						article
							.articleImg
								a(href="anonsDetail.html")
									img(src="./img/announcements/img_03.jpg", alt="")
							.articleText
								h2 Дания, РЦНК в Копенгагене #[br] На русском языке
								time 30 января, 19:00
								h3 «Другой человек». Спектакль Ульяновского театра им. И. А. Гончарова

					.col-xs-12
						article
							.articleImg
								a(href="anonsDetail.html")
									img(src="./img/announcements/img_04.jpg", alt="")
							.articleText
								h2 Таджикистан, РЦНК в Душанбе #[br]На русском языке
								time 1 февраля, 19:00
								h3 Концерт классической музыки в исполнении учащихся РССШИИ имени М. Атоева
								h4 К 5-летию подписания Соглашения об учреждении культурно-информационных центров России и Таджикистана

					.col-xs-12
						article
							.articleImg
								a(href="anonsDetail.html")
									img(src="./img/announcements/img_05.jpg", alt="")
							.articleText
								h2 Дания, РЦНК в Копенгагене
								time 3–12 февраля
								h3 Выставка картин Николая Дулько, художника из Твери
								h4 К 190-летию М. Е. Салтыкова-Щедрина

					.col-xs-12
						article
							.articleImg
								a(href="anonsDetail.html")
									img(src="./img/announcements/img_06.jpg", alt="")
							.articleText
								h2 Южная Осетия, РЦНК в Цхинвале
								time 5–9 февраля
								h3 Выставка «Россия — мировая научная держава»
								h4 Ко Дню Российской науки

				.row
					.col-xs-12
						p.readmore: a(href="anons.html") Все анонсы

			section.news.col-sm-6.col-xs-12
				h1 Новости

				.row.mosaic
					.col-sm-6.col-xs-12
						article
							time Сегодня, 27 февраля
							.news
								h2 Продвижение российской культуры
								p Россия принимает участие в Международной книжной ярмарке в Каире

							.news
								h2 Развитие деловых связей
								p В РЦНК в Нью-Дели прошел круглый стол «БРИКС: эволюция от акронима к глобальному игроку»
								a(href="newsDetail.html")
									img(src="./img/news/2016-02-27/img_01.jpg", alt="")

							.news
								a(href="newsDetail.html")
									img(src="./img/news/2016-02-27/img_02.jpg", alt="")
								h2 Перекрестные годы
								p В Москве стартовал перекрестный год обменов между СМИ России и Китая

					.col-sm-6.col-xs-12
						article
							time Вчера, 26 февраля
							.news
								a(href="newsDetail.html")
									img(src="./img/news/2016-02-26/img_01.png", alt="")
							.news
								h2 Русский язык
								p В Русе на базе средней школы с изучением европейских языков им. Св. Константина-Кирилла Философа (СОШЕЯ) состоялось заседание национальной комиссии по проведению олимпиады по русскому языку

							.news
								a(href="newsDetail.html")
									img(src="./img/news/2016-02-26/img_02.png", alt="")
								h2 Общество
								p В Нью-Йорке пройдут художественные выставки, посвященные Юрию Гагарину

							.news
								h2 Продвижение российской культуры
								p Россия принимает участие в Международной книжной ярмарке в Каире

					.col-sm-6.col-xs-12
						article
							time 25 февраля
							.news
								h2 Образование
								p РЦНК в Каире развивает деловые связи с египетскими вузами

							.news
								h2 Общество
								p Заместитель директора РИСИ Тамара Гузенкова стала почетным членом Евразийского экспертного клуба в Ереване

							.news
								h2 Тематические встречи
								p В РЦНК в Афинах обсудили вопросы межправославных греко-российских связей

					.col-sm-6.col-xs-12
						article
							time 24 февраля
							.news
								a(href="newsDetail.html")
									img(src="./img/news/2016-02-26/img_01.png", alt="")
							.news
								h2 Русский язык
								p В Русе на базе средней школы с изучением европейских языков им. Св. Константина-Кирилла Философа (СОШЕЯ) состоялось заседание национальной комиссии по проведению олимпиады по русскому языку
				.row
					.col-xs-12
						p.readmore: a(href="news.html") Все новости



		.row.subscribe.visible-xs
			.col-xs-12
				form
					h2 Подписывайтесь #[br.visible-xs]на анонсы и новости:
					input(type="email", placeholder="Ваша эл. почта").form-control
					input(type="submit", value="Подписаться").btn.btn-orange

		.row
			section.projects.col-xs-12
				h1 Направления деятельности и проекты

				.row
					.col-sm-3.col-xs-12
						article
							a(href="projectDetail.html")
								img(src="./img/projects/img_01.jpg", alt="")
							h2 Год российского кино
							p Culture.ru подготовили каталог киноклассики, выложенной на YouTube в открытом доступе

					.col-sm-3.col-xs-12
						article
							a(href="projectDetail.html")
								img(src="./img/projects/img_02.jpg", alt="")
							h2 Русский язык
							p День русского языка

					.col-sm-3.col-xs-12
						article
							a(href="projectDetail.html")
								img(src="./img/projects/img_03.jpg", alt="")
							h2 Содружество Независимых Государств
							p 25 лет Содружеству Независимых Государств

					.col-sm-3.col-xs-12
						article
							a(href="projectDetail.html")
								img(src="./img/projects/img_04.jpg", alt="")
							h2 Год российского кино
							p Culture.ru подготовили каталог киноклассики, выложенной на YouTube в открытом доступе

					.col-sm-3.col-xs-12
						article
							a(href="projectDetail.html")
								img(src="./img/projects/img_05.jpg", alt="")
							h2 Год российского кино
							p Culture.ru подготовили каталог киноклассики, выложенной на YouTube в открытом доступе

					.col-sm-3.col-xs-12
						article
							a(href="projectDetail.html")
								img(src="./img/projects/img_06.jpg", alt="")
							h2 Год российского кино
							p Culture.ru подготовили каталог киноклассики, выложенной на YouTube в открытом доступе

					.col-sm-3.col-xs-12
						article
							a(href="projectDetail.html")
								img(src="./img/projects/img_07.jpg", alt="")
							h2 Год российского кино
							p Culture.ru подготовили каталог киноклассики, выложенной на YouTube в открытом доступе

					.col-sm-3.col-xs-12
						article
							a(href="projectDetail.html")
								img(src="./img/projects/img_08.jpg", alt="")
							h2 Год российского кино
							p Culture.ru подготовили каталог киноклассики, выложенной на YouTube в открытом доступе

				.row
					.col-xs-12
						p.readmore: a(href="projects.html") Все направления деятельности и проекты


	.grayBlock
		.container
			.row
				.col-sm-8.col-xs-12
					.bannerBlock
						a(href="javascript:;")
							//img(src="./img/main_banner_img.jpg", alt="Main banner")
							picture
								source(
									media='(max-width: 480px)',
									sizes='(max-width: 710px) 100vw, 710px',
									srcset="\
										./img/main_banner_img/main_banner_img_kchkjp_ar_16_9,c_fill__c_scale,w_320.png 320w"
									)
								img(sizes='(max-width: 908px) 100vw, 908px',
									srcset='\
										./img/main_banner_img/main_banner_img_kchkjp_c_scale,w_320.png 320w,\
										./img/main_banner_img/main_banner_img_kchkjp_c_scale,w_539.png 539w,\
										./img/main_banner_img/main_banner_img_kchkjp_c_scale,w_705.png 705w,\
										./img/main_banner_img/main_banner_img_kchkjp_c_scale,w_840.png 840w,\
										./img/main_banner_img/main_banner_img_kchkjp_c_scale,w_908.png 908w',
									src='./img/main_banner_img/main_banner_img_kchkjp_c_scale,w_908.png',
									alt=''
								)

							.bannerText
								h2 Приемная кампания — 2016
								p Получите высшее образование мирового уровня в России

				.col-sm-4.col-xs-12
					.pollBlock.question
						h2 Опрос
						p Какую специальность Вы хотели бы получить?
						form.row
							.col-xs-12.poll
								.radio
									input(type="radio" id="radio1" name="poll1" checked)
									label(for="radio1") Инженер
								.radio
									input(type="radio" id="radio2" name="poll1")
									label(for="radio2") Разработчик ПО
								.radio
									input(type="radio" id="radio3" name="poll1")
									label(for="radio3") Врач
								.radio
									input(type="radio" id="radio4" name="poll1")
									label(for="radio4") Педагог
								.radio
									input(type="radio" id="radio5" name="poll1")
									label(for="radio5") Юрист
								.radio
									input(type="radio" id="radio6" name="poll1")
									label(for="radio6") Маркетолог
								.radio
									input(type="radio" id="radio7" name="poll1")
									label(for="radio7") Проектировщик интерфейсов

							.col-xs-12.seemore
								a(href="javascript:;") Посмотреть все варианты

					.pollBlock.result.hidden
						h2 Результат опроса
						p Какую специальность Вы хотели бы получить?
						.poll
							table.table
								tbody
									tr(data-persent="6%")
										th 6%
										td
											span
											p Инженер
									tr(data-persent="52%")
										th
										td
											span
											p Разработчик ПО
									tr(data-persent="20%")
										th
										td
											span
											p Врач
									tr(data-persent="12%")
										th
										td
											span
											p Педагог
									tr(data-persent="10%")
										th
										td
											span
											p Юрист
									tr(data-persent="4%")
										th
										td
											span
											p Маркетолог
						.seemore
							a(href="javascript:;") Все варианты


					.pollBlock.add.hidden
						h2 Цитата
						blockquote
							p В одном просвещении найдем мы спасительное противоядие для всех бедствий человечества!
							footer Николай Карамзин





	include includes/_footer_var2
